# --- API Keys and Secrets ---
.env

# --- Python / Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
app2.py

# --- IDE Settings (PyCharm) ---
.idea/

# --- Streamlit ---
.streamlit/

# --- System Files ---
.DS_Store
Thumbs.db